<%- include('partials/header.ejs') %>
<body class="text-center">

    <main>

    <div class="jumbotron">
        <h4 class="display-3" style="font-size: 3.5em;">Thank you for your order !</h4>
    </div>
    <div class="container">
        <h3>Order Details:</h3>
        <div class="list-group" style="width: 30%; margin: auto;">
            <a class="list-group-item list-group-item-action" id="subtotal">Subtotal: $<%= (total).toFixed(2) %></a>
            <a class="list-group-item list-group-item-action" id="total">Total: $<%= (total+(total*0.0975)).toFixed(2) %></a>
        </div>
        
            <% for(let i = 0; i < cartObj.length; i++){
                
                if(i % 2 == 0){ %>
                        <div class="row">
                <% } %>

                    <div class="col-lg card-columns productCart">
                        <div class="card" style="width: 18rem;">
                            <h5 class="card-title sportName"><%= cartObj[i].productName %></h5>
                            <img class="img-fluid sportImage" src="<%= cartObj[i].productImagePath %>" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <p class="card-text sportPrice">Price: $<%= cartObj[i].productPrice %></p>
                            </div>
                        </div>
                    </div>

                <% if(i % 2 != 0){ %>
                        </div>
                <% }
            } %>
        
    </div>

    </main>
<%- include('partials/footer.ejs') %>

</body>
</html>