<%- include('partials/header.ejs') %>

<body class="text-center">

    <main>

        <!-- <h2>Your Sports Selection Is: </h2> -->

        <div class="container">

            <% for(let i = 0; i < 10; i++){
            
                    if(i % 2 == 0){ %>
                        <div class="row">
                <% } %>

                    <div class="col-lg card-columns">
                        <div class="card" style="width: 18rem;">
                            <h5 class="card-title"><%= productObject[i].productName %></h5>
                            <img class="img-fluid" src="<%= productObject[i].productImagePath %>" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <p class="card-text">Price: $<%= productObject[i].productPrice %></p>
                                <a href="#" class="btn btn-primary addcartbtn">Add to cart</a>
                            </div>
                        </div>
                    </div>

                <% if(i == 1 || i == 3 || i == 5 || i == 7 || i == 9){ %>
                        </div>
                <% }
                } %>

        </div>

    </main>

<%- include('partials/footer.ejs') %>

</body>
</html>